.baselayer{
    position : relative;
}

.basechild{
    position: absolute;
    z-index: 2;
}
.secondlayer{
    position : relative;
    
}
.secondchild{
    position: absolute;
    z-index: 4;
}
.lightlayer{
    position: relative;
}
.lightchild{
    position: absolute;
    z-index: 3;
}

.albumlayer{
    position : relative;

}
.albumchild{
    position: absolute; 
    z-index: 5;
}
 
.baseimg, .lightimg, .secondimg, .albumimg{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
