.App {
  font-family: sans-serif;
  text-align: center;
}
.box {
  position: absolute;
}
.box-entering {
  animation-name: example;
  animation-duration: 18s;
}

.background{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

