@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

::-webkit-scrollbar {
  width: 0px;
}

.Text {
  font-family: "Noto Sans KR", sans-serif !important;
}

.fade-enter,
.fade-appear {
  opacity: 0;
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}

.page {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.pictureContainer {
  margin-top: 2%;
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 30px 0px;
}

.picture {
  margin-left: 10px;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

